<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>311461833196-f4gr01ea34mj5gjqmj1o69kkmi3kjrjd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.311461833196-f4gr01ea34mj5gjqmj1o69kkmi3kjrjd</string>
	<key>API_KEY</key>
	<string>AIzaSyDtH_fVlUhvyRnmFg6p-Zhp_1KaNufk0VQ</string>
	<key>GCM_SENDER_ID</key>
	<string>311461833196</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.muaythaitrainer</string>
	<key>PROJECT_ID</key>
	<string>muaythaitrainer-4c37d</string>
	<key>STORAGE_BUCKET</key>
	<string>muaythaitrainer-4c37d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:311461833196:ios:40091a1856be2f257d78c9</string>
	<key>DATABASE_URL</key>
	<string>https://muaythaitrainer-4c37d.firebaseio.com</string>
</dict>
</plist>